/* .navbar {
  background-color: red !important;
} */

.cards {
  margin-top: 50px;
}

.card {
  margin: 25px 25px;
}

.carousel {
  height: 500px;
}

.carousel-img {
  height: 500px;
  object-fit: cover;
  background-position: center;
}
